<section class="addictive">
	<div class="container">
		<h2 class="addictive__banner title">Как алкоголь вызывает
			<span class="mark">сильную</span> <span class="mark">зависимость</span> <span class="one-word">у тайцев?</span>
		</h2>
		<p class="addictive__statistic">
			<span>Статистика</span>: если таец употребляет алкогольные напитки чаще,
			чем три раза в месяц - он <span>укорачивает свою жизнь на 20-30 лет</span>
		</p>
		<div class="addictive__items-container">
			<div class="addictive__item">
				<div class="addictive__number-frame -first-frame">
					<span class="addictive__number"></span>
				</div>
				<div class="addictive__item-bg -toxic">
					<!--<img src="../img/addictive-item1.png" alt="item1">-->
				</div>
				<p class="addictive__item-description -custom-padding">
					Организм захламляется токсинами, у человека
					<span class="addictive__bold-text">формируется хроническое состояние похмелья,</span>
					которое постоянно подбивает выпить
				</p>
			</div>

			<div class="addictive__item">
				<div class="addictive__item-bg -mind">
					<!--<img src="img/addictive-item2.png" alt="item2">-->
				</div>
				<div class="addictive__number-frame -second-frame">
					<span class="addictive__number"></span>
				</div>
				<p class="addictive__item-description -custom-padding2">
					Регулярное состояние опьянения снижает умственную активность,
					расстраивает психическое здоровье,
					<span class="addictive__bold-text">у человека не работает сила воли</span>
					<span>и ему</span> сложно заставить себя отказаться от выпивки
				</p>
			</div>

			<div class="addictive__item">
				<div class="addictive__number-frame -third-frame">
					<span class="addictive__number"></span>
				</div>
				<div class="addictive__item-bg -health">
					<!--<img src="../img/addictive-item3.png" alt="item3">-->
				</div>
				<p class="addictive__item-description -custom-padding3">
					Физическое состояние ухудшается, печень, почки, поджелудочная железа, сердце,
					головной мозг медленно разрушаются. Человек чувствует
					<span class="addictive__bold-text">хроническую физическую тяжесть <span>и усталость</span></span>,
					которую хочется “запить” алкоголем.
				</p>
			</div>
			<!--_________items-end________-->
		</div>
		<h3 class="addictive__help-banner">С помощью <span>Alcoprost</span> вы:</h3>
		<div class="addictive__advices-container">
			<div class="addictive__advice">
				<p class="addictive__advice-info">
					<span class="addictive__cursive">Человек избавляется
						<span>от постоянного</span> похмелья
					</span>
					благодаря очищению
					<span class="nowrap">от токсинов</span>
				</p>
			</div>
			<div class="addictive__advice -orange">
				<p class="addictive__advice-info">
					<span class="addictive__cursive">Человеку становится легче мотивировать себя
					бросить пить</span>
					<span class="nowrap">благодаря нормализации</span> психического здоровья
				</p>
			</div>
			<div class="addictive__advice -green">
				<p class="addictive__advice-info">
					<span class="addictive__cursive">Человек чувствует себя здоровым и бодрым</span>
					благодаря восстановлению внутренних органов

				</p>
			</div>
		</div>
	</div>
</section>