<section class="components">
	<div class="container">
		<h2 class="title">
			Натуральный состав <span class="text__green">Alcoprost</span> — это сочетание <span class="one-word">3-х уникальных</span> формул для <span class="mark">избавления <span class="one-word">от алкоголизма</span></span>
		</h2>
		<ul class="components__list flex">
			<li class="components__item">
				<div class="components__head">
					<p>Очищают организм <span class="one-word">от токсинов</span></p>
				</div>
				<div class="components__body">
					<div class="components__element">
						<div class="components__img components__before-1">
							<img src="./img/components-1.jpg" alt="">
						</div>
						<p class="components__caption">Экстракт граната</p>
					</div>
					<div class="components__element">
						<div class="components__img components__before-2">
							<img src="./img/components-2.jpg" alt="">
						</div>
						<p class="components__caption">Экстракт зеленого чайного листа</p>
					</div>
				</div>
			</li>
			<li class="components__item components__item-2">
				<div class="components__head">
					<p>Нормализуют работу мозга</p>
				</div>
				<div class="components__body">
					<div class="components__element">
						<div class="components__img">
							<img src="./img/components-3.jpg" alt="">
						</div>
						<p class="components__caption">L-цистеин</p>
					</div>
					<div class="components__element">
						<div class="components__img">
							<img src="./img/components-4.jpg" alt="">
						</div>
						<p class="components__caption">L - глицин</p>
					</div>
				</div>
			</li>
			<li class="components__item">
				<div class="components__head">
					<p>Возвращают вам здоровье и бодрость</p>
				</div>
				<div class="components__body">
					<div class="components__element">
						<div class="components__img">
							<img src="./img/components-5.jpg" alt="">
						</div>
						<p class="components__caption">L-глютамин</p>
					</div>
					<div class="components__element">
						<div class="components__img components__before-3">
							<img src="./img/components-6.jpg" alt="">
						</div>
						<p class="components__caption">Экстракт <span class="one-word">гранатового семени</span></p>
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>