<div class="doctor">
	<div class="container">
		<h2 class="title">
			Врач-нарколог: “<span class="text__green">Alcoprost</span> — современное средство, которое помогает без труда <span class="mark">бросить пить</span>”
		</h2>
		<p class="title-small">Препарат разрабатывался как самый эффективный способ бросить пить, и сразу после запуска вызвал ажиотаж среди экспертов:</p>
		<div class="doctor__content">
			<div class="doctor__tabs flex">
				<div class="doctor__tab doctor__tab-doc active">
					<img src="./img/doctor-tab-1.jpg" alt="">
					<h3>Врач-нарколог об Алкопросте</h3>
				</div>
				<div class="doctor__tab doctor__tab-clinic">
					<img src="./img/doctor-tab-2.jpg" alt="">
					<h3>Результаты исследования<br>препарата в клинике</h3>
				</div>
				<div class="doctor__tab doctor__tab-dev">
					<img src="./img/doctor-tab-3.jpg" alt="">
					<h3>Разработчик препарата Alcoprost</h3>
				</div>
			</div>
			<div class="doctor__tabs-content">
				<div class="doctor__item doctor__item-doc show">
					<img  src="./img/doctor-item-1.jpg" alt="">
					<div class="doctor__text">
						<div class="doctor__scroll scroll-1">
							<h3>“Когда я впервые услышал про Alcoprost, то не поверил в его эффективность. Как же я ошибался!”</h3>
							<p>За всю свою врачебную практику, мне приходилось назначать пациентам набор препаратов, часть из которых облегчала синдром отмены 
							<span class="one-word">на физическом</span> уровне, а часть - помогала нормализовать психические процессы, восстанавливая клетки мозга. Препараты, естественно, помогали не всегда, и я настаивал, чтобы люди полагались на свою силу воли.<br>
							<b>Когда я впервые услышал про Alcoprost, то просто рассмеялся.</b> Препарат, который избавляет от зависимости, даже ещё и лечит от последствий алкоголя? Звучит, как шутка.<br>
							Каково же было моё удивление, когда я увидел результаты исследований, которые проводила наша клиника. 92% испытуемых без проблем избавились от зависимости, отмечая, что это было настолько просто, как они себе даже не представляли. </p>
							<p>Сначала я забеспокоился и решил, что наверное этот препарат содержит наркотические компоненты. Однако, и здесь всё оказалось чисто, в основе состава мощнейшие компоненты для избавления от курения - <span class="one-word">L-глицин,</span> <span class="one-word">L-глютамин,</span> а также экстракты зелёного чая и граната.<br>
							К тому же, как показали результаты исследований нашей клиники, <b>Alcoprost не вызывает ни <span class="mark">физической</span>, ни <span class="mark">психологической зависимости</span>.</b> </p>
							<p>Теперь я рекомендую этот препарат своим пациентам, и они без проблем “бросают” пить. Alcoprost - современное тайское средство, которое помогает без труда прекратить употребление алкоголя. Я приятно удивлен, насколько поднялась тайская медицина.</p>
						</div>
						<div class="doctor__author">
							<h3 class="doctor__name">Сигэаки Нагаи</h3>
							<p class="doctor__job"><i>Врач-нарколог</i></p>
							<p class="doctor__exp"><i>Стаж работы: 18 лет</i></p>
						</div>
					</div>
				</div>
				<div class="doctor__item doctor__item-clinic flex">
					<div class="doctor__img">
						<img src="./img/doctor-item-2.jpg" alt="">
						<div class="doctor__caption">
							<p><i>Японская клиника</i> IREI Medical</p>
						</div>

					</div>
				</div>
				<div class="doctor__item doctor__item-dev">
					<img  src="./img/doctor-item-3.jpg" alt="">
					<div class="doctor__text">
						<div class="doctor__scroll scroll-2">
							<h3>“Я горжусь тем, что принял участие в разработке этого препарата”</h3>
							<p>Перед нами стояла задача — разработать препарат, который избавлял бы не только избавляла от зависимости, но и избавлял от физических и психических последствий. В Тайланде большинство работающих препаратов только блокируют рецепторы удовольствия, в то время, как человек продолжает пить для того, чтобы погасить постоянное ощущение похмелья и разбитости, которое сформировалось из-за регулярной выпивки. Таким образом, человеку не удается вырваться из порочного круга алкоголизма. Поэтому мы усилили формулу, используя наработки современных западных наркологов - включили в состав компоненты, которые восстанавливают здоровье человека. В ходе длительных и многочисленных исследований нам удалось подобрать подходящую комбинацию в составе. И у нас это получилось.</p>
							<p>Alcoprost помогает человеку безболезненно отказаться от алкоголя 
							за 1 месяц. При этом у него не возникает нервных срывов и проблем со здоровьем, которые обычно сопровождают отказ от алкоголя. Ведь восстановив здоровье, завязать с алкоголизмом становится по-настоящему легко.</p>
							<p>Всего на разработку препарат Alcoprost ушло 4 года. Это тысячи часов работы, огромные бюджеты, сотни теорий и исследований... но результат того стоит. И, знаете, я горжусь тем, что принял участие в разработке этого препарата.</p>
						</div>
						<div class="doctor__author">
							<h3 class="doctor__name">Сигэаки Нагаи</h3>
							<p class="doctor__job"><i>Врач-нарколог</i></p>
							<p class="doctor__exp"><i>Стаж работы: 18 лет</i></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>