<section class="doctor" id="experts">
	<div class="container">
		<h2 class="title">
			Эксперт: “<span class="text__green">Alcoprost</span> — современное средство, которое помогает без труда <span class="one-word"><span class="mark">бросить</span> <span class="mark">пить</span></span>”
		</h2>
		<p class="title-small">Препарат разрабатывался как самый эффективный способ бросить пить, и сразу после запуска вызвал ажиотаж среди экспертов:</p>
		<div class="doctor__content">
			<div class="doctor__tabs flex">
				<div class="doctor__tab doctor__tab-doc active">
					<span class="doctor__tab-span"><img class="doctor__min" src="./img/doc-1.jpg" alt=""></span>
					<h3>Эксперт <span class="one-word">об Alcoprost</span></h3>
				</div>
				<!-- <div class="doctor__tab doctor__tab-clinic">
					<span class="doctor__tab-span"><img src="./img/doctor-tab-2.jpg" alt=""></span>
					<h3>Результаты исследования<br>препарата в клинике</h3>
				</div> -->
				<div class="doctor__tab doctor__tab-dev">
					<span class="doctor__tab-span"><img src="./img/doc-2.jpg" alt=""></span>
					<h3>Разработчик <span class="one-word">препарата Alcoprost</span></h3>
				</div>
			</div>
			<div class="doctor__tabs-content">
				<div class="doctor__item doctor__item-doc show">
					<img  src="./img/doc-1.jpg" alt="">
					<div class="doctor__text">
						<div class="doctor__scroll scroll-1">
							<h3>“Когда я впервые услышал про Alcoprost, то <span class="one-word">не поверил</span> в его эффективность. Как же я ошибался!”</h3>
							<p>За всю свою практику, мне приходилось назначать пациентам набор препаратов, часть из которых облегчала синдром отмены 
							<span class="one-word">на физическом</span> уровне, а часть - помогала нормализовать психические процессы, восстанавливая клетки мозга. Препараты, естественно, помогали не всегда, и я настаивал, чтобы люди полагались на свою силу воли.<br>
							<b>Когда я впервые услышал про Alcoprost, то просто рассмеялся.</b> Препарат, который избавляет от зависимости, даже ещё и от последствий алкоголя? Звучит, как шутка.<br>
							Каково же было моё удивление, когда я увидел результаты исследований, которые проводила наша организация. 92% испытуемых без проблем избавились от зависимости, отмечая, что это было настолько просто, как они себе даже не представляли. </p>
							<p>Сначала я забеспокоился и решил, что наверное этот препарат содержит наркотические компоненты. Однако, и здесь всё оказалось чисто, в основе состава мощнейшие компоненты для избавления от алкоголизма - <span class="one-word">L-глицин,</span> <span class="one-word">L-глютамин,</span> а также экстракты зелёного чая и граната.<br>
							К тому же, как показали результаты исследований нашей организации, <b>Alcoprost не вызывает ни <span class="mark">физической</span>, ни <span class="mark">психологической</span> <span class="mark">зависимости</span>.</b> </p>
							<p>Теперь я рекомендую этот препарат своим пациентам, и они без проблем “бросают” пить. Alcoprost - современное тайское средство, которое помогает без труда прекратить употребление алкоголя. Я приятно удивлен, насколько поднялась тайская медицина.</p>
						</div>
						<div class="doctor__author">
							<h3 class="doctor__name">Сигэаки Нагаи</h3>
							<p class="doctor__job"><i>Эксперт</i></p>
							<p class="doctor__exp"><i>Стаж работы: 18 лет</i></p>
						</div>
					</div>
				</div>
				<!-- <div class="doctor__item doctor__item-clinic">
					<div class="doctor__img">
						<img src="./img/doctor-item-2.jpg" alt="">
						<div class="doctor__caption">
							<p><i>Японская клиника</i><br> IREI Medical</p>
						</div>

					</div>
					<div class="doctor__text">
						<h3>Результаты исследования препарата Alcoprost<br> в японской клинике <span class="one-word">IREI Medical</span> </h3>
						<p><i>В исследовании участвовали более <span class="one-word">10 000 пациентов</span> с разным<br> стажем алкоголизма.</i></p>
						<h4>Alcoprost помог 92% пациентов</h4>
						<div class="doctor__table-1 doctor__table">
							<div class="doctor__cell">
								<p>Полностью избавились <span class="one-word">от зависимости</span></p>
								<b>72%</b>
							</div>
							<div class="doctor__cell">
								<p>Частично избавились <span class="one-word">от зависимости</span></p>
								<b>26%</b>
							</div>
							<div class="doctor__cell">
								<p>Препарат <span class="one-word">не подействовал</span></p>
								<b>2%</b>
							</div>
						</div>
						<p><i>Исследование показало, что в индивидуальных случаях для лечения требуется дополнительная личная психологическая мотивация.</i></p>
						<h4>Пациенты избавились от алкоголизма за:</h4>
						<div class="doctor__table-2 doctor__table">
							<div class="doctor__cell">
								<p>30 дней</p>
								<b>78%</b>
							</div>
							<div class="doctor__cell">
								<p>35 дней</p>
								<b>18%</b>
							</div>
							<div class="doctor__cell">
								<p>40 дней</p>
								<b>3%</b>
							</div>
							<div class="doctor__cell">
								<p>45 дней</p>
								<b>1%</b>
							</div>
						</div>
						<p><i>Поскольку испытуемые имели разный стаж алкоголизма и разную психологическую мотивацию, необходимое количество времени для полного отказа от алкоголя отличалось. </i></p>
					</div>
				</div> -->
				<div class="doctor__item doctor__item-dev">
					<img  src="./img/doc-2.jpg" alt="">
					<div class="doctor__text">
						<div class="doctor__scroll scroll-2">
							<h3>“Я горжусь тем, что принял участие <span class="one-word">в разработке</span> <span class="one-word">этого препарата”</span></h3>
							<p>Перед нами стояла задача — разработать препарат, который избавлял бы не только  от зависимости, но и от физических и психических последствий. В Тайланде большинство работающих препаратов только блокируют рецепторы удовольствия, в то время, как человек продолжает пить для того, чтобы погасить постоянное ощущение похмелья и разбитости, которое сформировалось из-за регулярной выпивки. Таким образом, человеку не удается вырваться из порочного круга алкоголизма. Поэтому мы усилили формулу, используя наработки современных западных специалистов - включили в состав компоненты, которые восстанавливают здоровье человека. В ходе длительных и многочисленных исследований нам удалось подобрать подходящую комбинацию в составе. И у нас это получилось.</p>
							<p><b>Alcoprost помогает человеку безболезненно отказаться от алкоголя 
							<span class="one-word">за 1 месяц.</span></b> При этом у него не возникает нервных срывов и проблем со здоровьем, которые обычно сопровождают отказ от алкоголя. Ведь восстановив здоровье, завязать с алкоголизмом становится по-настоящему легко.</p>
							<p>Всего на разработку препарат Alcoprost ушло 4 года. Это тысячи часов работы, огромные бюджеты, сотни теорий и исследований... но результат того стоит. И, знаете, я горжусь тем, что принял участие в разработке этого препарата.</p>
						</div>
						<div class="doctor__author">
							<h3 class="doctor__name">Наронг Сомчай</h3>
							<p class="doctor__job"><i>Эксперт, возглавлявший разработку препарата </i><b>Alcoprost</b></p>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>