<footer class="footer">
	<div class="container">
		<div class="footer__list">
			<!-- <div class="footer__copyright flex">
				<img class="everad-logo" src="./img/everad.svg" alt="">
				<p>ООО "Восток" <br>Copyright 2018</p>
			</div>
			<div class="footer__privacy">
				<a href="privacy.html" target="_blank">Политика конфиденциальности</a>
				<p>г. Москва, ул. Чоботовская, д.17</p>
			</div>
			<div class="footer__requisites">ИНН 7707251637 <br> ОГРН 1157735921758</div> -->

			<div class="footer__privacy">
				<img class="everad-logo" src="./img/everad.svg" alt="">
				
				<p>L-cysteine plus <span class="one-word">AlcoProst 11-1-06353-1-0081</span></p>
				<a href="privacy.html" target="_blank">Политика конфиденциальности</a>
			</div>
			
				
			
		</div>
	</div>
</footer>