<header class="header">
    <div class="container">
       <div class="header__top flex">
       	<div class="logo">
       		<b>ALCOPROST</b>
       		<img src="./img/logo.png" alt="">
       	</div>
       	<ul class="header__features flex">
       		<li class="wow fadeInLeft"><a class="go-to-components" href="#components" >100% натуральный состав</a></li>
       		<li><a href="#experts" class="go-to-doctor">Рекомендован экспертами</a></li>
       		<!-- <li><a href="#experts" class="go-to-clinic">Эффективность подтверждена</a></li> -->
       		<li><a class="go-to-reviews" href="#reviews" >Отзывы <span class="one-word">довольных клиентов</span></a></li>
       	</ul>
       </div>
       <div class="header__content flex">
       		<div class="header__img">
       			<img class="header__man" src="./img/header-man.png" alt="">
       			<img class="header__leaves" src="./img/header-leaves.png" alt="">
       			<img class="header__prod" src="./img/prod.png" alt="">
       		</div>
       		<div class="header__about">
       			<h1>Тройной удар по&nbsp;<span class="mark">алкогольной</span> <span class="mark">зависимости</span></h1>
       			<ol class="header__what-do">
       				<li><span class="list-mark">1</span><b>Устраняет зависимость от алкоголя,</b> выводя токсины</li>
       				<li><span class="list-mark">2</span><b>Восстанавливает психическое здоровье,</b> нормализуя умственную деятельность</li>
       				<li><span class="list-mark">3</span><b>Возвращает <span class="one-word">физическое здоровье,</span></b> восстанавливая внутренние органы</li>
       			</ol>
       		</div>
       		<div class="form">
       			<div class="discount flex">
       				<span class="discount__value"><span class="discount__minus">-</span>50</span>
       				<span class="discount__percent">%</span>
       			</div>
       			<p class="form__offer">Успейте купить<br>по промо-цене до <span class="date-0">09.10.2018</span></p>
       			<div class="price flex">
       				<p class="price__old">Старая цена 
       					<span class="price__value">
       						<span class="x_price_previous">1990</span><span class="x_currency">руб</span>
       					</span>
       				</p>
					<p class="price__new">Новая цена 
						<span class="price__value">
							<span class="x_price_current mark">499</span><span class="x_currency">руб</span><span class="price__star">*</span>
						</span>
					</p>
       			</div>
       			<p class="form__lastpack">Осталось <span class="lastpack text__red">10</span> упаковок <span>по акции</span></p>
       			<form action="/submit" method="post" class="x_order_form">
       				<label class="form__name"><input type="text" name="name" required="" autocomplete="name" placeholder="Моё имя"></label>
					<label class="form__tel"><input type="tel" name="phone" required="" autocomplete="tel" placeholder="Мой телефон"></label>
					<button type="submit" class="btn">Заказать <span>со скидкой</span></button>
                                   <p class="price__footnote">* при заказе курса</p>
       			</form>
       			<div class="form__secure">
       				<p>Ваши данные защищены!</p>
       			</div>
       		</div>
       </div>
    </div>
</header>