<section class="how-use">
	<div class="container">
		<h2 class="how-use__banner title">Как принимать 
			<span>Alcoprost</span>
		</h2>
		<div class="how-use__items-container">
			<div class="how-use__item-box">
				<div class="how-use__prod">
					<img src="img/prod.png" alt="prod">
				</div>
			</div>
			<div class="how-use__item-box">

				<div class="how-use__usage-step">
					<div class="how-use__number-bg">
						<span class="how-use__number"></span>
					</div>
					<span class="how-use__usage-image -tablet"></span>
					<p class="how-use__step-description">Принимать 1 капсулу с едой</p>
				</div>

				<div class="how-use__usage-step">
					<div class="how-use__number-bg -orange-bg">
						<span class="how-use__number -orange"></span>
					</div>
					<span class="how-use__usage-image -repeat"></span>
					<p class="how-use__step-description">Повторять каждый день</p>
				</div>

				<div class="how-use__usage-step">
					<div class="how-use__number-bg -green-bg">
						<span class="how-use__number -green"></span>
					</div>
					<span class="how-use__usage-image -calendar"></span>
					<p class="how-use__step-description -no-border">Курс: от 30 дней</p>
				</div>
			</div>
		</div>
	</div>
</section>