<section class="how-order">
	<div class="container">
		<h2 class="title">Как заказать</h2>
		<div class="how-order__list flex">
			<div class="how-order__item">
				<div class="how-order__img">
					<img src="./img/how-order-1.jpg" alt="">
				</div>
				<p class="how-order__text">Заполните форму на сайте</p>
			</div>
			<div class="how-order__item">
				<div class="how-order__img">
					<img src="./img/how-order-2.jpg" alt="">
				</div>
				<p class="how-order__text">Дождитесь звонка оператора</p>
			</div>
			<div class="how-order__item">
				<div class="how-order__img">
					<img src="./img/how-order-3.jpg" alt="">
				</div>
				<p class="how-order__text">Оплатите <span class="one-word">после получения</span></p>
			</div>
		</div>
		<p class="how-order__bottom">Если у вас возникают вопросы - вы всегда можете с нами связаться и получить 
подробную бесплатную консультацию о продукте и способе его применения.</p>
	</div>
</section>