<section class="reasons">
	<div class="container">
		<h2 class="title">Почему тайцы так легко “<span class="mark">подсаживаются</span>” <span class="one-word">на алкоголь</span> <span class="reasons__title-small">пока европейцы могут без проблем пить его литрами</span></h2>
		<div class="reasons__comparison flex">
			<div class="reasons__eur">
				<div class="reasons__img">
					<img src="./img/reasons-eur.jpg" alt="">
				</div>
				<div class="reasons__text">
					<h3>Первые алкогольные напитки - пиво <span class="one-word">и вино</span> - появились на территории Европы. </h3>
					<p>Поэтому <b>европейский организм генетически устойчив к алкоголю</b>. В европейском христианстве алкоголь - нормальное явление, даже в Библии Иисус превращал воду в вино. </p>
				</div>
			</div>
			<div class="reasons__tai">
				<div class="reasons__img">
					<img src="./img/reasons-tai.jpg" alt="">
				</div>
				<div class="reasons__text">
					<h3>До 18-го века в Тайланде не пили алкоголь, его здесь не было, пока его не завезли англичане, как часть европейской традиции.</h3>
					
					<p>Поэтому <b>организм жителя южной Азии очень тяжело воспринимает алкоголь</b>. И в буддизме употребление алкогольных напитков строго запрещено. </p>
				</div>
			</div>		
		</div>
		<div class="reasons__fact">
			<h3>Факт!</h3>
			<p><b>Когда таец начинает пить алкоголь</b>, его неадаптированный организм быстро привыкает, клетки мозга, печень, почки, поджелудочная прекращают нормально работать. Человек чувствует себя ужасно и испытывает постоянную <span class="one-word">тягу запить</span> эту тяжесть алкоголем.</p>
		</div>
	</div>
</section>