<section class="reviews">
	<div class="container">
		<h2 class="title">Отзывы людей, которые уже <span class="mark">избавились</span> <span class="one-word">от алкогольной</span> зависимости <span class="one-word">при помощи <span class="text__green">Alcoprost</span></span></h2>
		<div class="reviews__slider">
			<div class="reviews__item">
				<div class="reviews__head">
					<div class="reviews__img">
						<img src="./img/reviews-img-1.jpg" alt="">
					</div>
					<h3 class="reviews__name">Ваан Хонгсаван, 28 лет</h3>
					<p class="reviews__exp">Стаж алкоголизма: 1 год</p>
				</div>
				<div class="reviews__quote">
					<p>“Организм стал таким легким, <span class="one-word">это оказалось</span> проще, чем я думала”</p>
				</div>
				<div class="reviews__body">
					<p class="reviews__text">Хотела забеременеть и врачи сказали, чтобы бросила пить, иначе ребеночек родится с болезнями. Так тяжело было… Все бесит, тянет выпить хотя 
<span class="one-word">бы пива.</span> Муж принес Alcoprost, сказал, что после первого курса его друг бросил пить. Мне полегчало на 3 день, сначала ушла злость на всех, а потом появилась новая мотивация вообще жить, к бутылке даже не тянуло больше. Еще через какое-то время я заметила, что поднимаюсь на пятый этаж без одышки, стала энергичнее)). В общем, <b>мне хватило одного курса, чтобы навсегда бросить пить!</b></p>
				</div>
			</div>
			<div class="reviews__item">
				<div class="reviews__head">
					<div class="reviews__img">
						<img src="./img/reviews-img-2.jpg" alt="">
					</div>
					<h3 class="reviews__name">Пьябутр Правес, 41 год</h3>
					<p class="reviews__exp">Стаж алкоголизма: 12 лет</p>
				</div>
				<div class="reviews__quote">
					<p>“Чувствую себя очень легко, соображаю на “ура”, к выпивке <span class="one-word">не тянет”</span></p>
				</div>
				<div class="reviews__body">
					<p class="reviews__text">Когда был помоложе, то думал, что в алкоголе нет ничего страшного. Но с возрастом стали видны последствия моей зависимости. Слабость, постоянное чувство похмелья, и никакой радости в жизни. Даже от алкоголя уже не было особо весело, так только, облегчение. Но избавиться от многолетней привычки не так-то просто. Спасибо врачу, который посоветовал Alcoprost! Мне и в голову не приходило, что так легко и быстро можно бросить пить. Чувствую себя очень легко, <b>соображаю на “ура”, <span class="one-word">к выпивке</span> <span class="one-word">не тянет.</span></b></p>
				</div>
			</div>
			<div class="reviews__item">
				<div class="reviews__head">
					<div class="reviews__img">
						<img src="./img/reviews-img-3.jpg" alt="">
					</div>
					<h3 class="reviews__name">Убон Сомбун, 49 лет</h3>
					<p class="reviews__exp">Стаж алкоголизма: 21 год</p>
				</div>
				<div class="reviews__quote">
					<p>“Я пила 20 лет и смогла <br>бросить”</p>
				</div>
				<div class="reviews__body">
					<p class="reviews__text">Мои родственники давно поставили на мне крест. Я пропила все, что могла. Неделями не выходил из запоев. Несколько раз попадала в больницу в тяжелом состоянии. И, знаете, я сама прекрасно понимала, что гублю свою жизнь. Но остановиться не могла, сколько не пробовала. Только дочь смогла меня спасти. В тайне начала давать Алкопрост. Добавляла в чай, я даже не догадывалась. Только вот на третий день от бутылки как отшептало! Мера кардинальная, но действенная - <b>сейчас я в сторону алкоголя даже не смотрю!</b> Абсолютно спокойна. Не знаю, что бы делала без этого препарата, наверное уж давно спилась бы до белочки.</p>
				</div>
			</div>
			<div class="reviews__item">
				<div class="reviews__head">
					<div class="reviews__img">
						<img src="./img/reviews-img-4.jpg" alt="">
					</div>
					<h3 class="reviews__name">Хемхаенг Ананд, 37 лет</h3>
					<p class="reviews__exp">Стаж алкоголизма: полгода</p>
				</div>
				<div class="reviews__quote">
					<p>“За неделю я восстановился после полугодового запоя”</p>
				</div>
				<div class="reviews__body">
					<p class="reviews__text">Полгода назад в один момент потерял бизнес. Оставил свою семью вообще без средств к существованию. Не выдержал стресса - начал пить по-страшному. Жена умоляла остановиться, но я был в диком угаре и совсем не ведал, что творил. В итоге она забрала детей и ушла. Тогда я окончательно с катушек слетел. Докатился бы до самого дна, если бы не встретил старого товарища, в студенчестве с ним крепко дружили. Он предложил мне реальную помощь, но с одним условием - я брошу пить. Без Алкопроста сам бы не справился. <b>Уже через неделю вышел на работу нормальным человеком.</b> Так что, средство кардинальное, но проверенное! После него никакие кодировки не нужны будут!</p>
				</div>
			</div>
			<div class="reviews__item">
				<div class="reviews__head">
					<div class="reviews__img">
						<img src="./img/reviews-img-5.jpg" alt="">
					</div>
					<h3 class="reviews__name">Файрох Анги, 25 лет</h3>
					<p class="reviews__exp">Стаж алкоголизма: 2 года</p>
				</div>
				<div class="reviews__quote">
					<p>“Через неделю едва вспомнила об алкоголе”</p>
				</div>
				<div class="reviews__body">
					<p class="reviews__text">Всегда считала, как только захочу, то брошу. Но как только начала пробовать перестать пить, почему-то постоянно срывалась. Поэтому возвращалась к своей привычке снова и снова. Стоило перестать пить, как меня посещала глубокая депрессия, и снова тянуло выпить. Этот замкнутый круг смог разорвать только Alcoprost. <b>Облегчение почувствовала уже на 3 день применения, через неделю едва вспомнила об алкоголе.</b> А через две - уже и подумать страшно было.</p>
				</div>
			</div>
			<div class="reviews__item">
				<div class="reviews__head">
					<div class="reviews__img">
						<img src="./img/reviews-img-6.jpg" alt="">
					</div>
					<h3 class="reviews__name">Тханет Винай, 34 года</h3>
					<p class="reviews__exp">Стаж алкоголизма: 3 года</p>
				</div>
				<div class="reviews__quote">
					<p>“Уже на следующий день почувствовал резкое облегчение”</p>
				</div>
				<div class="reviews__body">
					<p class="reviews__text">Я не мог решить свою проблему с выпивками самостоятельно. Алкопрост помог! Я всегда любил веселиться, в компаниях выпивал, иногда больше, чем следовало бы... Не думал, что однажды алкоголизм всерьез меня коснется. Как-то очнулся после очередной попойки невменяемый, жена стоит в дверях. Тогда она отхлестала меня по полной программе и сказала, что если я не приму меры - мы разводимся. Я для себя принял решение, что нужно лечиться. Начала искать специальные препараты, чтобы самостоятельно их принимать. Так и узнала про Алкопрост. Про него много отзывов нашел, писали, что помогает. Уже на следующий день почувствовал резкое облегчение, к бутылке вообще тянуть перестало. <b>Я быстро пришел в норму, восстановился на работе, и дома наконец-то все наладилось.</b> Страшно представить, что бы было с моей жизнью, если бы не Алкопрост.</p>
				</div>
			</div>
		</div>
	</div>
</section>