.addictive {
  display: block;
  width: 100%;
  background: center 857px url("../img/addictive-arrow-down.png") no-repeat,
  center bottom url("../img/addictive-bg.png") no-repeat;
  &__banner {
    display: block;
    max-width: 1090px;
    margin: 0 auto;
    padding-top: 90px;
    color: $black;
  }
  &__statistic {
    display: block;
    max-width: 678px;
    margin: 0 auto;
    padding: 14px 0 47px;
    text-align: center;
    font-size: 22px;
    line-height: 25px;
    font-weight: 500;
    color: $black;
    span {
      color: #7e7e7e;
    }
  }
  &__items-container {
    display: flex;
    max-width: 1170px;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    counter-reset: section;
    margin-bottom: 105px;
    /*&:after {
      display: block;
      position: absolute;
      width: 2560px;
      height: 11px;
      content: "";
      background: center top url(../img/addictive-arrow-down.png) no-repeat;
      margin-top: 614px;
      margin-left: calc(580px - 1273px);
      z-index: 2;
    }*/
  }

  &__item {
    display: block;
    position: relative;
    z-index: 2;
    max-width: 300px;

  }
  &__items-container .addictive__item:first-child {
    max-width: 320px;
  }
  &__items-container .addictive__item:nth-child(2) {
    max-width: 336px;
    margin-top: 9px;
  }
  &__items-container .addictive__item:nth-child(3) {
    max-width: 330px;
  }
  &__number-frame {
    display: block;
    margin: 0 auto 15px;
    width: 66px;
    height: 66px;
    background-color: rgba(232, 213, 0, 0.322);
    border-radius: 50%;
    padding: 5px;
    &.-first-frame {
      margin-left: calc(50% + 1px);
    }
    &.-second-frame {
      margin-top: 40px;
      margin-left: calc(50% - 27px);
      margin-bottom: 20px;
    }
    &.-third-frame {
      margin-top: 1px;
      margin-left: calc(50% - 54px);
    }
  }
  &__number {
    display: block;
    width: 55px;
    height: 55px;
    padding-top: 9px;
    font-size: 35px;
    font-weight: 700;
    line-height: 38px;
    color: $black;
    border-radius: 50%;
    background-color: #e8d500;

    &:before {
      counter-increment: section;
      content: counter(section);
    }
  }
  &__item-bg {
    display: block;
    max-width: 300px;
    min-height: 200px;
    z-index: 2;
    &.-toxic {
      background: 94px 1px url(../img/addictive-item1-bg.png) no-repeat,
      153px 54px url(../img/addictive-item1.png) no-repeat;
      margin-bottom: 85px;
      &:before {
        display: block;
        position: absolute;
        width: 318px;
        height: 166px;
        content: "";
        background: url("../img/addictive-arrow-type1.png") no-repeat;
        z-index: -1;
        margin-top: -63px;
        margin-left: 90px;
      }
      &:after {
        display: block;
        position: absolute;
        width: 318px;
        height: 166px;
        content: "";
        background: url("../img/addictive-arrow-type2.png") no-repeat;
        z-index: -1;
        margin-top: 175px;
        margin-left: 80px;
      }
    }
    &.-mind {
      background: 69px 44px url(../img/addictive-item2-bg.png) no-repeat,
      131px 74px url(../img/addictive-item2.png) no-repeat;
      margin: 30px 0;
      &:before {
        display: block;
        position: absolute;
        width: 318px;
        height: 166px;
        content: "";
        background: url("../img/addictive-arrow-type4.png") no-repeat;
        z-index: -1;
        margin-top: -21px;
        margin-left: 59px;
      }
      &:after {
        display: block;
        position: absolute;
        width: 318px;
        height: 166px;
        content: "";
        background: url("../img/addictive-arrow-type3.png") no-repeat;
        z-index: -1;
        margin-top: 164px;
        margin-left: 15px;
      }
    }
    &.-health {
      background: 43px 1px url(../img/addictive-item3-bg.png) no-repeat,
      97px 24px url(../img/addictive-item3.png) no-repeat;
      margin-bottom: 84px;
      &:before {
        display: block;
        position: absolute;
        width: 318px;
        height: 166px;
        content: "";
        background: url("../img/addictive-arrow-type2.png") no-repeat;
        z-index: -1;
        transform: rotate(180deg);
        margin-top: -174px;
        margin-left: -67px;
      }
      &:after {
        display: block;
        position: absolute;
        width: 318px;
        height: 166px;
        content: "";
        background: url("../img/addictive-arrow-type1.png") no-repeat;
        z-index: -1;
        transform: rotate(180deg);
        margin-top: 65px;
        margin-left: -75px;
      }
    }

    img {
      display: block;
      width: 70px;
      height: 70px;
    }
  }
  &__item-description {
    color: #444444;
    font-size: 18px;
    line-height: 28px;
    &.-custom-padding {
      padding-left: 58px;
    }
    &.-custom-padding2 {
      padding-left: 19px;
      span:nth-child(2) {
        white-space: nowrap;
      }
    }
    &.-custom-padding3 {
    }

  }
  &__bold-text {
    font-weight: 500;
    line-height: 24px;
    color: $black;
    span {
      white-space: nowrap;
    }
  }
  /*__________________________________ADVICES-CONTAINER__________*/
  &__help-banner {
    padding-bottom: 28px;
    font-size: 28px;
    font-weight: 500;
    line-height: 28px;
    color: $black;
    text-align: center;
    span {
      text-transform: capitalize;
    }
  }
  &__advices-container {
    display: flex;
    margin: 0 auto;
    padding-bottom: 83px;
    justify-content: space-between;
    flex-wrap: wrap;
    counter-reset: section;
  }
  &__advices-container .addictive__advice:first-child {
    max-width: 357px;
    margin-top: 9px;
  }
  &__advices-container .addictive__advice:nth-child(2) {
    max-width: 380px;
    margin-top: 3px;
    padding-left: 119px;
  }
  &__advices-container .addictive__advice:nth-child(3) {
    max-width: 353px;
    margin-top: 6px;
  }
  &__advice {
    display: inline-block;
    max-width: 366px;
    text-align: left;
    padding-left: 114px;
    &:before {
      display: block;
      position: absolute;
      margin-left: -105px;
      border-radius: 50%;
      text-align: center;
      width: 70px;
      height: 70px;
      content: "";
      color: #ffffff;
      font-size: 40px;
      font-weight: 900;
      line-height: 70px;
      border: 5px solid #faf4b0;
      background-color: #e8d600;
      counter-increment: section;
      content: counter(section);
    }
    &.-orange:before {
      border: 5px solid #fff5e2;
      background-color: #fda600;
    }
    &.-green:before {
      border: 5px solid #e7f4d3;
      background-color: #75ae1b;
    }
  }
  &__advice-info {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: $gray;
    .nowrap {
      white-space: nowrap;
    }
  }
  &__cursive {
    color: #010101;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    padding-bottom: 5px;
    span {
      white-space: nowrap;
    }
  }

}

@media all and (max-width: 1199px) {
  .addictive {
    background: center bottom url("../img/addictive-bg.png") no-repeat;
    background-size: cover;
    &__advices-container {
      justify-content: space-around;
    }
    &__advices-container .addictive__advice:first-child,
    &__advices-container .addictive__advice:nth-child(2),
    &__advices-container .addictive__advice:nth-child(3) {
      &:before {
        margin-left: -66px;
        width: 50px;
        height: 50px;
        line-height: 50px;
      }
      max-width: 328px;
      padding-left: 70px;
    }
    &__item-bg {
      &.-toxic:before, &.-toxic:after, &.-mind:before, &.-mind:after, &.-health:before, &.-health:after {
        width: 258px;
        height: 106px;
        background-size: contain;
      }
      &.-toxic:before {
        margin-top: -58px;
        margin-left: 68px;
      }
      &.-toxic:after {
        margin-top: 154px;
        margin-left: 50px;
      }
      &.-mind:before {
        margin-top: -10px;
        margin-left: 44px;
      }
      &.-mind:after {
        margin-left: 34px;
        margin-left: 21px;
      }
      &.-health:before {
        margin-top: -70px;
        margin-left: 32px;
      }
      &.-health:after {
        margin-top: 156px;
        margin-left: -12px;
      }
    }
    &__number-frame {
      margin-bottom: 0;
    }
  }
}

@media all and (max-width: 1023px) {
  .addictive {
    &__banner {
      //font-size: 27px !important;
      padding-top: 40px;
    }
    &__statistic {
      padding: 15px 0;
    }
    &__items-container {
      margin-bottom: 40px;
    }
    &__item {
      margin: 0 auto;
    }
    &__item-bg {
      &.-toxic:before, &.-toxic:after,
      &.-mind:before, &.-mind:after,
      &.-health:before, &.-health:after {
        display: none;
      }
      &.-toxic, &.-mind, &.-health {
        margin-bottom: 0;
      }
      &.-toxic {
        background: center 1px url(../img/addictive-item1-bg.png) no-repeat,
        center 54px url(../img/addictive-item1.png) no-repeat;
      }
      &.-mind {
        background: center 44px url(../img/addictive-item2-bg.png) no-repeat,
        center 74px url(../img/addictive-item2.png) no-repeat;
      }
      &.-health {
        background: center 1px url(../img/addictive-item3-bg.png) no-repeat,
        center 24px url(../img/addictive-item3.png) no-repeat;
        min-height: 165px;
      }
    }
    &__number-frame {
      &.-first-frame {
        margin-left: 0;
        margin: 0 auto
      }
      &.-second-frame {
        position: absolute;
        top: -47px;
      }
      &.-third-frame {
        margin-left: 0;
        margin: 0 auto
      }
    }
    &__item-description {
      &.-custom-padding {
        padding: unset;
      }
      &.-custom-padding2 {
        padding: 27px 0 0;
      }
      &.-custom-padding3 {
        padding-top: 34px;
      }
    }
    &__items-container .addictive__item:first-child,
    &__items-container .addictive__item:nth-child(2),
    &__items-container .addictive__item:nth-child(3) {
      max-width: 247px;
    }
    /*_____________advicse____*/
    &__advices-container {
      justify-content: space-around;
      padding-bottom: 50px;
    }
    &__advices-container .addictive__advice:first-child,
    &__advices-container .addictive__advice:nth-child(2),
    &__advices-container .addictive__advice:nth-child(3) {
      &:before {
        position: relative;
        margin: 0 auto 10px;
      }
      max-width: 247px;
      padding-top: 0;
      padding-left: 0px;
      text-align: center;
    }
    &__help-banner {
      padding-bottom: 10px;
    }
    &__advice-info {
      font-size: 16px;
    }
    &__cursive {
      font-size: 19px;
    }
  }
}

@media all and (max-width: 767px) {
  .addictive {
    &__item-description {
      &.-custom-padding3 {
        padding-top: 5px;
      }
    }
    &__items-container .addictive__item:nth-child(3) {
      margin-top: 20px;
    }
  }
}
@media all and (max-width: 639px) {
  .addictive {
    &__statistic {
      font-size: 19px;
      max-width: 475px;
    }
    &__items-container {
      margin-bottom: 20px;
    }
  }
}




