
.nicescroll-rails {
	 
	  transform: translateX(544px);
	  left: 50% !important;
	  z-index: 5 !important;
	  
	}



	.nicescroll-rails::before {
	  content: "";
	  display: block;
	  position: absolute;
	  top: 0;
	  left: 50%;
	  height: 100%;
	  width: 3px;
	  background-color: #e6e6e6;
	}

	.nicescroll-rails div::before {
	  content: "";
	  display: block;
	  position: absolute;
	  top: 50%;
	  left: 1px;
	  width: 4px;
	  height: 1px;
	  -webkit-transform: translateY(-50%);
	  -ms-transform: translateY(-50%);
	  transform: translateY(-50%);
	  background-color: #fff;
	  -webkit-box-shadow: 0 3px #fff, 0 6px #fff;
	  box-shadow: 0 3px #fff, 0 6px #fff;
	}

.doctor {
	padding-top: 87px;
	padding-bottom: 87px;
	
	

	&__item {
		display: none;
	}

	.show {
		display: block;
	}

	.active {
		border-color: #e8d500;
		position: relative;
		color: #000;
	}

	.active::before {
		content: '';
		position: absolute;
		display: block;
		background-color: #fff;
		border-bottom: 2px solid #e8d500;
		border-right: 2px solid #e8d500;
		height: 18px;
		width: 18px;
		border-radius: 0  0  5px 0;
		transform: translateX(-50%) rotate(45deg);
		bottom: -11px;
		left: 50%;
	}

	& .title {
		max-width: 1020px;
		margin-left: auto;
		margin-right: auto;
	}

	& .title-small {
		font-size: 20px;
	    font-weight: 500;

	    line-height: 1.2;
	    margin-top: 22px;
	    color: #7e7e7e;
	    text-align: center;
	    max-width: 800px;
	    margin-left: auto;
	    margin-right: auto;
	}

	&__content {
		margin-top: 45px;
	}

	&__tab {
		
		padding-left: 74px;
		min-width: 372px;
		padding-right: 12px;
		min-height: 61px;
		position: relative;
		cursor: pointer;
		border: 2px solid #cccccc;
		border-radius: 5px;
		display: flex;
		align-items: center;
		z-index: 10;
		color: #444;
	}

	&__tab:hover {
		border-color: #e8d500;
		color: #000;
	}
	
	&__tab img {
		position: absolute;
		height: 43px;
		width: 43px;
		border-radius: 50%;
		border: 1px solid #e5e5e5;
		left: 12px;
	}


	&__tab h3{
		font-size: 17px;
		font-weight: 500;
		line-height: 1.18;
	}

	&__tabs-content {
		margin-top: 67px;
	}

	&__item {
		position: relative;
		padding-left: 399px;
	}



	&__item img {
		position: absolute;
		left: -119px;
    	bottom: -86px;
    	z-index: 0;
	}

	&__text {
		position: relative;
		z-index: 5;

	}

	&__scroll {
		padding-right: 100px;
		height: 580px;
		overflow-y: scroll;
	}

	&__scroll h3 {
		font-size: 20px;
		line-height: 1.45;
		margin-bottom: 29px;
	}

	&__scroll p {
		font-size: 18px;
		line-height: 1.45;
		margin-top: 26px;
		color: #444444;
	}
	
	&__author {
		margin-top: 26px;
		width: 88%;
		
	}

	&__name {
		font-size: 22px;
		margin-bottom: 3px;
	}

	&__job {
		color: #555555;
		font-size: 16px;
		line-height: 1.5;
	}

	&__exp {
		font-size: 18px;
		font-weight: 600;
	}
	

// doctor__item-dev
	&__item-dev {
		img {
			left: -86px;
    		bottom: -104px;
		}
	}



// doctor__item-clinic

	
	&__item-clinic {
		padding-left: 0;

		&.show {
			display: flex;
		}

		.doctor__img {
			text-align: center;
			position: relative;
			margin-top: 148px;
			margin-right: 30px;

			
		}
		.doctor__img::before {
			content: '';
			display: block;
			position: absolute;
			height: 193px;
			width: 251px;
			background-color: #fff;
			border-radius: 5px;
			background-image: url(../img/doctor-item-2-before.png);
			background-repeat: no-repeat;
			background-position: 50% 50%;
			left: 50%;
			top: 0%;
			transform: translateX(-50%) translateY(-72%);
			box-shadow: 0px 5px 24px rgba(227, 227, 226, 0.75);

		}

		.doctor__caption p {
			font-size: 20px;
			color: #000;
			font-weight: 500;
			line-height: 1.5;
			font-style: normal;
		}

		.doctor__caption i {
			font-size: 18px;
			color: #444;
		}

		img {
			position: static;
			width: 371px;
			height: auto;
			margin-bottom: 20px;
			
			border-radius: 7px;
		}

		h3, h4 {
			font-size: 20px;
			line-height: 1.4;
		}

		h4 {
			margin-top: 25px;
		}

		h4:nth-of-type(n+2) {
			margin-top: 20px;
		}

		p {
			font-style: italic;
			font-size: 18px;
			line-height: 1.6;
			margin-top: 8px;
		}

	}


	&__table {
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin-top: 17px;
		margin-bottom: 14px;

		p {
			font-style: normal;
			margin: 0;
			font-size: 17px;
			line-height: 1.53;
			font-weight: 500;
		}
	
	}

	&__cell {
		background-color: #f7f8f0;
		border-radius: 5px;
		text-align: center;
		padding: 13px 18px;

	}

	&__table-1 {
		min-height: 153px;
		

		.doctor__cell {
			width: 32.5%;
		}

		.doctor__cell:nth-of-type(1) b {
			color: $green;
		}

		.doctor__cell:nth-of-type(2) b {
			color: #fda600;
		}

		.doctor__cell:nth-of-type(3) b {
			color: #dc4b2f;
		}

		
		b {
			font-size: 61px;
			line-height: 1.2;
		}
	}

	&__table-2 {
		min-height: 146px;
		
		.doctor__cell {
			width: 24%;
			padding: 23px 18px;
			padding-bottom: 10px;
		}

		b {
			font-size: 52px;
			line-height: 1.65;
			color: $green;
		}

	}


}



// MEDIA DOCTOR

@media screen and (max-width: 1199px){

	.nicescroll-rails {
		 
		  transform: translateX(450px);
		  left: 50% !important;
		  z-index: 5 !important;
		  
		}

	.doctor {
		padding-bottom: 60px;
		padding-top: 60px;

		&__tab {
			min-width: auto;
		}

	
	}




} 

