.header {
	background-image: url(../img/header-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: -330px 0;
	padding-bottom: 87px;


	&__top {
		padding-top: 44px;
		align-items: flex-start;
		margin-bottom: 72px;
	}

	.logo {
		position: relative;
		margin-right: 73px;
		margin-top: 2px;
	}

	.logo img {
		position: absolute;
		top: -20px;
   		left: 34px;
   		z-index: 1;
	}
	.logo b {
		font-size: 39.5px;
	    font-weight: 600;
	    line-height: 1;
	    letter-spacing: 1px;
	    position: relative;
	    z-index: 2;
	}

	&__features {
		justify-content: flex-start;
	}

	&__features li {
		padding-left: 40px;
		position: relative;
		text-decoration: underline;
		font-size: 16px;
		font-weight: 500;
		line-height: 1.25;

	}

	&__features li::before {
		content: "";
		position: absolute;
		display: block;
		height: 27px;
		width: 27px;
		background-color: #e8d500;
		border-radius: 50%;
		left: 0;
		top: 50%;
		transform: translateY(-70%);
	}

	&__features li::after {
		content: "";
		position: absolute;
		display: block;
		height: 35px;
		width: 35px;
		
		background-image: url(../img/header-icon-1.png);
		background-repeat: no-repeat;
		background-size: contain;
		left: -8px;
		top: 50%;
		transform: translateY(-70%);
	}

	&__features li:first-of-type {
		margin-right: 52px;
		
	}

	&__features li:nth-of-type(2) {
		
		margin-right: 10px;
	}

	&__features li:nth-of-type(3) {
		
		padding-left: 36px;
	}

	&__features li:nth-of-type(4) {
		
		margin-right: -12px;
	}

	&__features li:nth-of-type(1)::after {
		height: 31px;
		width: 31px;

	}
	&__features li:nth-of-type(2)::after {
		background-image: url(../img/header-icon-2.png);
		height: 34px;
		width: 34px;
	    top: 58%;

	}

	&__features li:nth-of-type(3)::after {
		background-image: url(../img/header-icon-3.png);
		height: 31px;
		width: 31px;
		top: 58%;

	}

	&__features li:nth-of-type(4)::after {
		background-image: url(../img/header-icon-4.png);
		height: 29px;
		width: 29px;

	}



	&__content {
		align-items: flex-start;
		position: relative;
	}

	&__img {
		width: 470px;
	}

	&__img img {
		position: absolute;
	}

	&__man {
	    top: -54px;
    	left: 13px;
	}

	&__prod {
		bottom: -174px;
    	left: 73px;
	}

	&__leaves {
		bottom: -133px;
    	left: 275px;
	}

	&__about {
		width: 428px;
		margin-top: 59px;
	}
	
	&__about h1 {
		font-size: 52px;
		line-height: 45px;
		font-weight: 900;
		
	}

	&__what-do li {
		padding-left: 48px;
		position: relative;
		margin-top: 28px;
	}

	&__what-do .list-mark {
		position: absolute;
		display: flex;
		height: 36px;
		width: 36px;
		background-color: #9dcb3f;
		border-radius: 50%;
		box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.15);
		color: #fff;
		align-items: center;
		justify-content: center;
		left: 0;
		top: -4px;
		font-size: 26px;
		font-weight: 900;	

	}

	
}


.form {
	position: relative;
	padding: 20px 26px;
	background-color: #fff;
	width: 270px;
	min-height: 508px;
	text-align: center;
	z-index: 1;
	border-radius: 0 80px 0 91px;
	box-shadow: 0px 5px 24px rgba(0, 0, 0, 0.09);

	&::before {
		content: '';
	    display: block;
	    position: absolute;
	    height: 93%;
	    width: 107%;
	    border: 2px solid rgba(252, 252, 252, 0.68);
	    border-radius: 10px;
	    left: -4%;
	    z-index: -1;
	}

	&::after {
		content: '';
		position: absolute;
		display: block;
		background-image: url(../img/form-arrow.png);
		height: 290px;
		width: 65px;
		right: -45px;
    	top: 79px;
	}

	.discount {
		display: flex;
		background-image: url(../img/discount-bg.svg);
		background-repeat: no-repeat;
		background-size: contain;
		width: 54px;
		height: 54px;
		justify-content: center;
		align-items: center;
		font-size: 22px;
		font-weight: 700;
		color: #fff;
		position: absolute;
		left: 50%;
		top: -13px;
		transform: translateX(-50%) translateY(-50%);
		


	}

	.discount__percent {
		position: relative;
		right: 5px;
		font-weight: 500;
		text-shadow: -1px -1px 0 #75ae1b, 1px -1px 0 #75ae1b, -1px 1px 0 #75ae1b, 1px 1px 0 #75ae1b;

	}

	&__offer {
		color: #222;
		font-size: 15px;
		font-weight: 500;
		line-height: 1.33;

		span {
			color: #9b3020;
		}
	}

	.price {
		font-size: 13px;
		margin-top: 19px;
		justify-content: space-between;
		text-align: left;
		line-height: 1;
		padding-left: 10px;
	}

	
	.price__old,
	.price__new {
		width: 45%;
	}

	.price__old {
		position: relative;
		margin-right: 5px;
	}

	.price__old .price__value {
		color: #a7a7a7;
	}

	.price__new .price__value {
		font-weight: 900;
	}
	
	.price__value {
		margin-top: 5px;
		display: inline-block;
	}

	.x_currency {
		font-size: 16px;
	}
	
	.x_price_previous,
	.x_price_current {
		font-size: 34px;
	}
	
	.x_price_previous {
		font-weight: 500;
		position: relative;
	}

	.x_price_previous::before {
		content: '';
		position: absolute;
		display: block;
		width: 115%;
		height: 1px;
		background-color: #9b3020;
		transform:  translateX(-50%) rotate(-12deg);
		top: 50%;
		left: 50%;

	}

	.price__old::after {
		content: '';
		position: absolute;
		display: block;
		width: 1px;
		height: 85%;
		background-color: #d2d2d2;
		
		bottom: 50%;
		transform: translateY(50%);
		left: 105%;

	}

	.x_price_current {
		font-weight: 900;
		background: linear-gradient(to bottom, rgba(232, 213, 0, 0) 0%, rgba(232, 213, 0, 0) 32%, #e8d500 29%, #e8d500 79%, rgba(232, 213, 0, 0) 62%, rgba(232, 213, 0, 0) 100%);
	}

	&__lastpack {
		font-size: 15px;
		line-height: 22px;
		font-weight: 500;
		margin-top: 7px;
		margin-bottom: 5px;
		line-height: 1;
	}

	&__lastpack span {
		white-space: nowrap;
		font-size: 14px;
		color: #8d8d8d;
		line-height: 22px;
		font-weight: 400;
	}

	& .lastpack {
		color: #9b3020;
		font-size: inherit;
		font-weight: inherit;
	}

	& input {
		padding: 20px;
		padding-left: 55px;
		width: 100%;
		border-radius: 65px;
		border: 1px solid #f1efe8;
		background-color: #fafafa;
		box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.05);
		margin-bottom: 15px;
		transition: 0.4s;
		outline: none;

		&:hover,
		&:focus {
			padding-left: 58px;
			box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.05);
			transition: 0.4s;

		}
	}

	& input::placeholder {
		color: #212121;
		font-size: 16px;
		font-weight: 400;
	}

	&__name,
	&__tel {
		position: relative;
    max-width: 220px;
    display: inline-block;
	}

	&__tel {
		margin-bottom: 6px;
	}

	&__tel::before {
		content: "";
	    display: block;
	    position: absolute;
	    height: 27px;
	    width: 21px;
	    background-image: url(../img/tel.svg);
	    background-repeat: no-repeat;
	    background-size: 21px;
	    left: 24px;
	    top: 19px;
	}

	&__name::before {
		content: "";
	    display: block;
	    position: absolute;
	    height: 22px;
	    width: 21px;
	    background-image: url(../img/name.svg);
	    background-repeat: no-repeat;
	    background-size: contain;
	   
	    left: 24px;
	    top: 19px;
	}

	&__secure {
		margin-top: 23px;
		padding-top: 20px;
		font-size: 15px;
		background-image: url(../img/security.svg);
		background-repeat: no-repeat;
		background-position: 50% 0;

	}
}











// MEDIA 
@media screen and (max-width: 1268px){
	.header .form::after {
		display: none;
	}
}

@media screen and (max-width: 1199px){
	.header {
		

		.logo {
			margin-right: 30px;
		}

		.logo b {
			font-size: 34px;
			
		}

		.logo img {
			left: 50%;
			transform: translateX(-50%);
		}
		
		&__features li {
			padding-left: 35px;
			font-size: 15px;
			width: auto;
		}

		&__features li:first-of-type {
			margin-right: 10px;
		}
		
		&__features li:nth-of-type(2) {
			margin-right: 0;
			max-width: 210px;
		}

		&__features li:nth-of-type(3) {
			margin-right: 0;
			max-width: 210px;
		}

		&__features li:nth-of-type(4) {
			margin-right: 0;
		}

		&__content {
			padding-right: 10px;
		}

		&__about {
			margin-right: 20px;
		}

		&__about h1 {
			font-size: 48px;
			line-height: 1;
		}

		&__man {
			left: -64px;
			top: -44px;
		}

		&__prod {
			left: 0px;
		}

		&__leaves {
			left: 200px;
		}

		.form::after {
			display: block;
		}
	}
}

@media screen and (max-width: 1084px){
	.header .form::after {
		display: none;
	}
}

@media screen and (max-width: 1023px){
	.header {
		padding-bottom: 40px;

		&__top {
			// flex-direction: column;
			// align-items: center;
			// padding-top: 28px;
			display: none;
		}

		&__content {
			flex-wrap: wrap;
		}
		&__about {
			margin-top: 30px;
			width: 100%;
			text-align: center;
			margin-bottom: 55px;
		}

		&__about h1 {
			font-size: 44px;
		}

		&__what-do {
			display: flex;
			justify-content: space-between;
		}

		&__what-do li {
			padding-left: 0;
			padding-top: 40px;
			margin-top: 20px;
			max-width: 215px;
		}

		&__what-do li:first-of-type {
			max-width: 180px;
		}

		&__what-do .list-mark {
			left: 50%;
			transform: translateX(-50%);
			top: 0;

		}
		
		&__img {
			order: 1;
			width: 430px;
		}

		& .form {
			order: 2;
		}

		&__man {
			width: 350px;
			height: auto;
			top: auto;
			bottom: -40px;

		}

		&__prod {
			left: 80px;
			bottom: -94px;
		}

		&__leaves {
			left: 280px;
			bottom: -45px;
		}
	}
}




@media screen and (max-width: 767px){
	.header {
		padding-bottom: 30px;

		&__content {
			padding-right: 0;
			justify-content: center;
		}
		
		&__about {
			margin-bottom: 30px;
		}

		&__about h1 {
			font-size: 40px;
		}

		&__what-do {
			flex-direction: column;
			text-align: left;
		}

		&__what-do li {
			width: 100%;
			max-width: none!important;
			padding-top: 0;
			padding-left: 50px;
		}

		&__what-do .list-mark {
			top: -6px;
			left: 0px;
			transform: none;
		}

		&__img {
			height: 300px;
			position: relative;
			width: 100%;
		}

		&__man {
			display: none;
		}

		&__prod {
		
			bottom: auto;
			left: 50%;
			transform: translateX(-50%);
			max-width: 350px;
			
		}

		&__leaves {
			bottom: auto;
			left: 50%;
			transform: translate(28px);
			max-width: 180px;
		}
	}
}



@media screen and (max-width: 479px){
	.header {
		padding-bottom: 25px;

		&__about {
			margin-top: 25px;
		}

		&__about h1 {
			font-size: 36px;
		}

		&__img {
			height: 215px;
		}

		&__prod {
			width: 80%;
		}

		&__leaves {
			bottom: auto;
			left: 50%;
			transform: translate(20px);
			max-width: 130px;
		}
	}
}