.order-block {
	padding-bottom: 100px;
	padding-top: 92px;

	& .form {
		min-height: 148px;
		width: 100%;
		padding-left: 60px;
		padding-right: 54px;
		flex-wrap: nowrap;
	}

	& .form::before,
	& .form::after {
		display: none;
	}

	& .discount {
		position: static;
		transform: none;
	}

	& .price {
		margin-top: 0;
		max-width: 220px;
		margin-right: auto;
		margin-left: 24px;
		padding-left: 0;
	}

	& .price__new {
		
		width: auto;
	}

	& .price__old {
		width: auto
	}

	& form {
		margin-right: auto;
    	margin-left: 34px;
	}

	& input {
		margin: 0;
		max-width: 260px;
	}

	& .form__tel {
		margin: 0;
		max-width: none;
		margin-right: 31px;
	}
	& .form__name {
		margin: 0;
		max-width: none;
		margin-right: 20px;
	}
	&__btn-block {
		max-width: 240px;
		width: 100%;
		align-self: flex-start;
		position: relative;

	}

	.price__footnote {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
	}

	& .btn {
		max-width: 220px;
		position: relative;
		top: -3px;
	}
}


@media screen and (max-width: 1199px){
	.order-block {
		padding-bottom: 60px;
		padding-top: 50px;

		& .form {
			padding-left: 26px;
			padding-right: 10px;
		}

		& .price {
			max-width: 194px;
			margin-left: 13px;
		}

		& .price__new {
			width: 46%;
			
		}
		& .price__old {
			margin-right: 10px;
		}


		& form {
			margin-left: 10px;
			
		}
		& .form__tel {
			
			margin-right: 14px;
		}
		& .form__name {
			
			margin-right: 10px;
		}

		& .btn {
			max-width: 200px;
			
		}
	}
}


@media screen and (max-width: 1023px){
	.order-block {
		padding-bottom: 40px;
		padding-top: 40px;

		& .form {
			justify-content: center;
			flex-wrap: wrap;
		}

		& .price {
			margin-left: 10px;
			margin-right: 0;
		}

		& form {
			margin-top: 10px;
			padding-bottom: 16px;
		}
	}
}


@media screen and (max-width: 767px){
	.order-block {
		padding-bottom: 30px;
		padding-top: 30px;

		& .form {
			padding: 26px;
		}

		& form {
			flex-wrap: wrap;
			justify-content: space-between;
			margin-top: 0;
		}
		&__btn-block {
			margin-left: auto;
			margin-right: auto;
			width: 100%;
			max-width: none;
		}

		& .btn {
			width: 55%;
			max-width: none;
			min-width: 260px;
			margin: auto;
			margin-top: 10px;

		}

		& .form__name {
			margin: auto;
			margin-top: 10px;
		}

		& .form__tel {
			
			margin: auto;
			margin-top: 10px;
		}
	}
}

@media screen and (max-width: 615px){
	.order-block {
		.form {
			max-width: 380px;
			width: 100%;
			margin-left: auto;
			margin-right: auto;
		}
	}
}


@media screen and (max-width: 479px){
	.order-block {
		padding-bottom: 25px;
		padding-top: 25px;


	}
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   .order-block .form {
   	padding-top: 42px;
   }
}